<div>
    <div>
        <div.title>
            dfsfddssd
        </div>
        <div.desc>
            dfdsfd
        </div>
    </div>
    <div>
    <!-- 循环 -->
        <div>
            <img src="../statics/logo.svg" />
            <div>
                <div.item-title>fdfdfd</div>
                <div.item-desc>fdfdfd</div>
            </div>
        </div>
    </div>
</div>

style {

}