<header>
    <div>
        <img src="../statics/logo.svg" />
        <div>
            <chronograph />
            <div>sdkldfdfdf</div>
        </div>
    </div>
    <h1>
        sdfsdfsdfsd
        <span>
            fdsflsdkflsdf
        </span>
    </h1>
</header>

<style>
    
</style>